<div class="headboard">
  <h1>{{title}}</h1>
</div>



<section>
    <div class="example-label">-PET PHOTOGRAPHY -</div>
    <br>
    <div class="example-button-row">
      <button>ABOUT</button>
      <button>PORTFOLIO</button>
      <button class="search">BUSCAR</button>
      <!-- <a mat-button href="https://www.google.com/" target="_blank">INQUIRE</a> -->
    </div>
  </section>

<p><input type="text"  [(ngModel)]="imgParent"></p>
<app-home [img]="imgParent"></app-home>
<router-outlet></router-outlet>

