
<section>
    <div class="example-label">Photographing dogs and their owners</div>
    <div class="example-button-row">
      <button mat-button>ABOUT</button>
      <button mat-button color="primary">THE EXPERIENCE</button>
      <button mat-button color="accent">INVESTMENT</button>
      <button mat-button color="warn">PORTFOLIO</button>
      <button mat-button disabled>BLOG</button>
      <a mat-button href="https://www.google.com/" target="_blank">INQUIRE</a>
    </div>
  </section>

<p><input type="text"  [(ngModel)]="imgParent"></p>
<app-home [img]="imgParent"></app-home>
<router-outlet></router-outlet>
