  <div>
    <app-menu>
      <div class="jumbotron">
        <h1 class="display-2">Hello, world!</h1>
        <p class="lead">
        
        </p>
        <hr class="my-4" />
        <p>
          
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </app-menu>
  </div>
  <div>
    <!-- <img width="400" [src]="img" *ngIf="img; else elseImg">
<ng-template #elseImg>
    <img src="" alt="">
</ng-template>

<div *ngFor="let fotografo of fotografos"> -->

    <app-banner></app-banner>
  </div>